:root {
    --primary-color: #fff;
    /* forest green */
    --secondary-color: #9dc7ce;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #6965d1;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: 155px 1fr 1fr;
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    clear: both;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p {
    margin: 10px;
    padding: 8px;
}

#logo {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navigation a {
    text-decoration: none;
    border-color: antiquewhite;
}

section {
    margin: 10px;
    padding: 8px;
    clear: both;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 20px;
    /* ajusta este valor */
    background-color: rgba(233, 196, 106, 0.9);
    padding: 10px;
    overflow: auto;
    /* contiene el float */
}

.hero article img {
    float: right;
    width: 100px;
    margin-left: 15px;
}

.hero article p {
    color: black;
}

/* Section History */
.grid-container {
    display: grid;
    grid-template-columns: auto 130px auto;
    grid-gap: 5px;
}

.grid-item {
    justify-self: center;
    margin: 0;
    padding: 0.5rem;
    color: #333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.7);
    color: var(--secondary-color);
}

.flex-img {
    width: 130px;
    margin: 0;
    padding: 0.5rem;
    color: #333;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px;
}

footer p {
    grid-column: 2;
}

.socialmedia {
    grid-column: 3;
    justify-self: end;
    gap: 5px;
}

nav a {
    text-decoration: none;
}