:root {
    --primary-color: #fff;
    /* white */
    --secondary-color: #e6e696;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #6965d1;
    /* light golden yellow */
    --black-color: #000;
    /* black */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: 155px 1fr 1fr;
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    clear: both;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p {
    margin: 10px;
    padding: 8px;
}

#logo {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navigation a {
    text-decoration: none;
    text-align: center;
    border-color: antiquewhite;
}

section {
    margin: 10px;
    padding: 8px;
    clear: both;
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.hero_h1 {
    background-color: transparent;
    color: var(--black-color);
}

.hero article {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 20px;
    /* ajusta este valor */
    background-color: rgba(233, 196, 106, 0.9);
    padding: 10px;
    overflow: auto;
    /* contiene el float */
}

.hero article img {
    float: right;
    width: 100px;
    margin-left: 15px;
}

.hero article p {
    color: black;
}

/* Section History */
.grid-container {
    display: grid;
    grid-template-columns: auto 130px auto;
    grid-gap: 5px;
}

.grid-item {
    justify-self: center;
    margin: 0;
    padding: 0.5rem;
    color: #333;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(38, 70, 83, 0.7);
    color: var(--secondary-color);
}

.flex-img {
    width: 130px;
    margin: 0;
    padding: 0.5rem;
    color: #333;
}

.flex-med-img {
    width: 200px;
    margin: 0;
    padding: 1rem;
    color: #333;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px;
}

footer p {
    grid-column: 2;
}

.socialmedia {
    grid-column: 3;
    justify-self: end;
    gap: 5px;
}

nav a {
    text-decoration: none;
}

.contact {
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--black-color);
}

.contact-layout {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.contact-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

article p {
    top: 1px;
    width: 100%;
    margin: 5px;
    padding: 0;
    text-align: center;
    color: var(--black-color);
}

.map,
.contact-form {
    flex: 1;
}

.map iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 0;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 350px;
}

.form-group label {
    width: 100px;
}

.form-group input,
.form-group textarea {
    flex: 1;
}

fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
}

fieldset label {
    width: 10px;
}

.form-group fieldset {
    flex: 1;
}

textarea {
    width: 50%;
    min-height: 120px;
    resize: vertical;
}

input {
    width: 50%;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: 1px solid #999;
}

figcaption {
    max-width: 200px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 3px;
    margin: 5px;
    justify-self: center;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: var(--accent2-color);
    color: white;
    font-weight: 700;
}

.trip-descriptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 20px;

    .trip-card {
        display: grid;
        grid-column-start: 1fr 1fr;
    }

    .trip-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }